.slideOut {
   -webkit-animation: slide-out-top 0.5s ease-in-out both;
   animation: slide-out-top 0.5s ease-in-out both;

   @include keyframes(slide-out-top) {
      0% {
         -moz-transform: translateY(0);
         -webkit-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
      }

      100% {
         -moz-transform: translateY(-1000px);
         -webkit-transform: translateY(-1000px);
         transform: translateY(-1000px);
         opacity: 0;
      }
   }
}

.slideOutII {
   -webkit-animation: slide-out-bottom 0.5s ease-in-out both;
   animation: slide-out-bottom 0.5s ease-in-out both;

   @include keyframes(slide-out-bottom) {
      0% {
         -moz-transform: translateY(0);
         -webkit-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
      }

      100% {
         -moz-transform: translateY(1000px);
         -webkit-transform: translateY(1000px);
         transform: translateY(1000px);
         opacity: 0;
      }
   }
}


.slideIn {
   -webkit-animation: slide-in-up 0.5s ease-in-out both;
   animation: slide-in-up 0.5s ease-in-out both;

   @include keyframes(slide-in-up) {
      0% {
         -moz-transform: translateY(1000px);
         -webkit-transform: translateY(1000px);
         transform: translateY(1000px);
         opacity: 0;
      }

      100% {
         -moz-transform: translateY(0);
         -webkit-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
      }
   }
}