.Notif {
   background-color: $grey;
   position: fixed;
   width: 100%;
   max-width: 1366px;
   padding: 1rem 0;
   overflow: hidden;

   &__Wrapper {
      max-width: 720px;
      margin: auto;
      @include flexBetween;

      @include respondTo(tablet) {
         flex-direction: column;
         align-items: flex-start;
         padding: 0 1rem;
      }
   }

   &--text {
      @include fontSize(12, 17, normal);

      a {
         color: $blue;
         font-weight: bold;
      }
   }

   &__Button {
      margin-left: 0.5rem;

      @include respondTo(tablet) {
         margin-left: 0;
         margin-top: 0.5rem;
      }

      button {
         background-color: $blue;
         color: $white;
         padding: 10px 20px;
         border-radius: 5px;
         white-space: nowrap;
         @include fontSize(12, 17, normal)
      }
   }
}

.News {
   max-width: 640px;
   position: fixed;
   bottom: 0;
   left: auto;
   background-color: $blue;
   opacity: 0.9;
   padding: 1rem 0.5rem 0.5rem;

   @include respondTo(tablet) {
      padding: 1rem;
   }

   svg {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 10px;
      height: 10px;
      cursor: pointer;
   }

   &--title {
      color: $white;
      font-weight: bold;
      margin-bottom: 0.2rem;
      @include fontSize(18, normal, normal);
   }

   &--text {
      color: $white;
      margin-bottom: 0.5rem;
      @include fontSize(12, normal, normal);
   }

   &__Form {
      @include flexBetween;

      @include respondTo(tablet) {
         flex-direction: column;
      }

      input {
         width: 100%;
         padding: 2px 0.5rem;
         background-color: $white;
         @include fontSize(12, normal, normal);
      }

      button {
         padding: 2px 12px;
         white-space: nowrap;
         background-color: $orange;
         color: $white;
         margin-left: 10px;
         @include fontSize(12, normal, normal);

         @include respondTo(tablet) {
            width: 100%;
            margin-top: 7px;
            margin-left: 0;
         }
      }
   }
}