/* Color Variables
    How to use:
    h1 {
    color: $primary-color
    }
*/
$blue: #007BC1;
$dark-blue: #004A75;
$orange: #FF8000;
$dark-orange: #CC6600;
$grey: #E5E5E5;
$white: #FFFFFF;
$black: #000000;
$icon: #A8A8A8;