.Header {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../Assets/Backgrounds/work-desk__dustin-lee.jpg"), linear-gradient($dark-blue, $dark-blue);
    background-blend-mode: overlay;

    >img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        margin: 2rem 0 0 3rem;
    }

    &__Content {
        padding: 10rem 0 15rem;
        @include flexCenterColumn;

        &--title {
            font-weight: bold;
            text-align: center;
            color: $white;
            @include fontSize(22, 22, normal);

            @include respondTo(tablet) {
                @include fontSize(22, 28, normal);
            }
        }

        &--subtitle {
            font-weight: bolder;
            text-align: center;
            color: $white;
            margin: 25px 0;
            @include fontSize(27, 17, normal);

            @include respondTo(tablet) {
                @include fontSize(27, 38, normal);
            }
        }

        &--desc {
            text-align: center;
            color: $white;
            @include fontSize(19, 28, normal);
        }

        &__Button {
            margin-top: 35px;

            button {
                padding: 14px 30px;
                color: $white;
                background-color: transparent;
                border: 1px solid $white;
                border-radius: 5px;
                text-transform: uppercase;
                @include fontSize(12, 17, 1);

                &:hover {
                    color: $dark-blue;
                    background-color: $white;
                }
            }
        }
    }
}