.Highlight {
   padding: 3rem 2rem;
   @include flexCenterColumn;

   @include respondTo(tablet) {
      padding: 2rem 1rem;
   }

   &--title {
      @include fontSize(28, 20, 1);
   }

   &--subtitle {
      text-align: center;
      padding: 0 20rem;
      margin: 1rem 0 3rem;
      @include fontSize(14, 18, 1);

      @include respondTo(tablet) {
         padding: 0;
      }
   }

   &__Wrapper {
      width: 100%;
      flex-wrap: wrap;
      @include flexCenterHoriz;

      &__Cards {
         width: 30%;
         margin: 0 1rem 1rem 0;
         border: 1px solid $icon;
         padding: 1rem;

         @include respondTo(tablet) {
            width: 45%;
         }

         @include respondTo(phone) {
            width: 100%;
            margin: 0;
            margin-bottom: 1rem;
         }

         &--text {
            @include fontSize(14, normal, normal);
         }

         &__Header {
            margin-bottom: 1rem;
            @include flexBetween;

            svg {
               width: 30px;
               height: 30px;
               object-fit: contain;
            }

            &--title {
               @include fontSize(20, 18, 1);
            }
         }
      }

      >div {
         @include respondTo(desktop) {

            &:nth-child(3),
            &:nth-child(6) {
               margin: 0 0 1rem 0;
            }

         }

         @include respondTo(tablet) {

            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6) {
               margin: 0 0 1rem 0;
            }
         }
      }
   }
}